* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 6.25rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  background-position-x: center;
  background-repeat: no-repeat;
  background-image: url("./images/pattern-background-mobile.svg");
  font-family: "Red Hat Display", sans-serif;
}
@media (min-width: 500px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }
}

.card {
  box-shadow: 0 2.5rem 3.5rem -1.5rem rgb(55 42 224 / 20%);
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  border-radius: 1.25rem;
}

/* <!--Card__image--> */
.card__image {
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
}

/* <!--Card__content--> */
.card-container-content {
  padding: 2rem;
  text-align: center;
}
@media (min-width: 500px) {
  .card-container-content {
    padding: 2.5rem 3rem;
  }
}
/* <!--Card__descript--> */
.card__title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.card__paragraph {
  line-height: 2rem;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1.5rem;
}
@media (min-width: 500px) {
  .card__paragraph {
    line-height: 1.5rem;
  }
}
/* <!--Card__plan--> */
.card-container-plan {
  background-color: hsl(225, 100%, 98%);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.card__cont-price {
  display: flex;
}

.card__change > a {
  color: hsl(245, 75%, 52%);
}
.card__change > a:hover {
  color: hsl(224, 23%, 55%);
}
.card__label {
  padding-left: 20px;
}
.card__label > p {
  margin-bottom: 5px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
.card__label > span {
  color: hsl(224, 23%, 55%);
}

/* <!--Card__payment--> */
.card-container-payment {
  display: flex;
  flex-direction: column;
}

.card__btn-payment {
  cursor: pointer;
  height: 50px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0px 1rem 1rem rgb(55 42 224 / 20%);
}
.card__btn-payment:hover {
  background-color: hsl(224, 23%, 55%);
}

.card__cancel-payment {
  font-size: 1rem;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}
.card__cancel-payment:hover {
  color: #000;
}
